doctype html
html
    head
        meta(property='og:image', content=base_url + '/images/teams/' + team_name + '/logo.jpg')
        meta(property='og:title', content=title)
        meta(property='og:description', content=meta_description)
        meta(property='og:url', content=base_url)
        meta(property='og:type', content='website')
        meta(name='title', content=title)
        meta(name='description', content=meta_description)
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        title= title

        link(rel='stylesheet', href='/stylesheets/css/bbclub-font.css')
        link(rel='stylesheet', href='/stylesheets/css/' + team_name + '.css')
        script(type="text/javascript", src="/javascripts/min/main-min.js")
        script(type="text/javascript", src="/javascripts/coffee/main.js")

        link(rel="shortcut icon", href="/images/teams/" + team_name + "favicon.ico?v=" + favicon_version, type="image/x-icon")
        link(rel="icon", href="/images/teams/" + team_name + "/favicon.ico?v=" + favicon_version, type="image/x-icon")

        if process.env.NODE_ENV == 'production'
            meta(name="google-site-verification", content=team_data.auth_code)
            include tracking.jade
            script.
                send_tracking = true;
        else
            script.
                send_tracking = false;

        block head

    body
        block content
            .game-details Are the #{team_data.name} playing a game today?
            .Three-Dee(style='display: block;')= today_data.is_there

            .game-details= today_data.details

            #footer
                #social-media
                    .facebook
                        iframe(src='//www.facebook.com/plugins/like.php?href=' + base_url + '&width=55&layout=box_count&action=like&show_faces=false&share=false&height=65', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 55px; height: 65px;', allowtransparency='true')
                    .twitter
                        a.twitter-share-button(href='https://twitter.com/share', data-url=base_url, data-text=today_data.tweet_text, data-related='zoinc', data-count='vertical')
                            script.
                                tbn = function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}
                    .google
                        .g-plus(data-action='share', data-annotation='vertical-bubble', data-height='60', data-href=base_url)
                        script(type='text/javascript').
                            (function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/platform.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();

                if today_data.upcoming_games.length
                    .upcoming-games
                        p Upcoming games for the #{team_data.name}
                        .games-list
                            for game, i in today_data.upcoming_games
                                .row
                                    if i == 0
                                        span.icon-arrow-right
                                    p.date= game.date_formatted
                                    p.details= game.details

                            .row
                                a(href="/schedule").btn View the full #{conf.data_year} schedule

                if conf.ads_enabled
                    .ad-unit
                        include ad.html

                .other-teams
                    p Check if these other teams are playing around the league

                    ul
                        for team in teams_data
                            if team.slug != team_name
                                li(class="team-#{team.slug}")
                                    a(href="http://www." + team.track_url, data-team=team.slug, data-team_color=team.primary_color)
                                        i(class="bb-#{team.abbr} team-logo", title=team.name)
                                        //- span &bull;



        input(type="hidden", name="team_name", value=team_name)
        input(type="hidden", name="games_url", value=(process.env.NODE_ENV == "production" ? "/games-data" : "/games-data/" + team_name))
        input(type="hidden", name="team_data", value=JSON.stringify(team_data_clean))
        input(type="hidden", name="today_data", value=JSON.stringify(today_data))

