doctype html
html
    head
        meta(property='og:image', content='http://www.arethegiantsplayingtoday.com/SF-Giants-Logo.jpg')
        meta(property='og:title', content=title)
        meta(property='og:description', content=meta_description)
        meta(property='og:url', content='http://www.arethegiantsplayingtoday.com')
        meta(property='og:type', content='website')
        meta(name='title', content=title)
        meta(name='description', content=meta_description)
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        title= title

        link(rel='stylesheet', href='/stylesheets/' + team_name + '.css')
        script(type="text/javascript", src="/javascripts/min/main.min.js")
        script(type="text/javascript", src="/javascripts/coffee/main.js")

        link(rel="shortcut icon", href="/images/favicon_" + team_name + ".ico?v=" + favicon_version, type="image/x-icon")
        link(rel="icon", href="/images/favicon_" + team_name + ".ico?v=" + favicon_version, type="image/x-icon")

        //- if process.env.NODE_ENV == 'production'
            //- include partials/tracking.js

    body
        block content
            .Three-Dee(style='display: block;')
                span.loading-text Checking...

            #game-details

            #footer
                #social-media
                    block social

        input(type="hidden", name="team_name", value=team_name)
        input(type="hidden", name="games_url", value=(process.env.NODE_ENV == "production" ? "/games-data" : "/games-data/" + team_name))
