|<?xml version="1.0" encoding="UTF-8"?>
|<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
|    <url>
|        <loc>#{base_url}/</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>hourly</changefreq>
|        <priority>1</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule/march</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule/april</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule/may</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule/june</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule/july</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule/august</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule/september</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|    <url>
|        <loc>#{base_url}/schedule/october</loc>
|        <lastmod>#{today}</lastmod>
|        <changefreq>daily</changefreq>
|        <priority>.9</priority>
|    </url>
|</urlset> 
